# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.recipe
*.iobj
*.ipdb
*.pdb
*.log
*.tlog
*.ilk
*.idb
injector/source/headers/dll.h
*.txt
*.sarif
*.lastcodeanalysissucceeded
*.xml
capstone ideas.txt
malware development.txt
